@font-face {
    font-family: 'LAB';
    src: url('../New/LAB디지털.ttf');
    font-weight: normal; /*폰트 굵기 지정*/
    font-style: normal; 
}
body {
    display: flex;
    flex-direction: column; /*요소를 세로 방향으로 정렬*/
    align-items: center; /*요소를 수평 중앙에 정렬*/
    justify-content: center; /*요소를 수직 중앙에 정렬*/
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    font-size: 48px;
    font-family: 'LAB';
    height: 100px;
}

.rotating-number {
    font-size: 68px;
    font-weight: 600;
    color: #8b0000	;
    text-shadow: 0 0 5px rgba(207, 38, 38, 0.7);
    animation: neon-flicker 1s infinite alternate;
    display: inline-block;
    transition: transform 0.5s ease-in-out; 
    /*transform 속성의 변경에 0.5초 동안 애니메이션 효과를 적용하며, 
    애니메이션을 천천히 시작하고 끝내는 방식으로 설정합니다.*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
