body {
  /* 전체 높이 설정 */
  height: 100vh;
  /* 백그라운드 이미지 설정 */
  background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/bg.jpg");
  /* 백그라운드 사이즈는 창의 크기에 맞게 확대됨 */
  background-size: cover;
  /* 백그라운드는 반복되지 않음 
  반복 켜두면 사진이 여러장 이어붙인 것처럼 나옴 */
  background-repeat: no-repeat;
  /* 스크롤 해도 고정되어 있음 */
  background-attachment: fixed;
}
.container {
  padding: 50px 0;
}
.heroes {
  /* flexbox 레이아웃으로 설정 */
  display: flex;
  /* 아이템이 줄바꿈할 수 있도록 설정 */
  flex-wrap: wrap;
  /* flex 아이템들을 컨테이너의 가운데 정렬 */
  justify-content: center;
  max-width: 660px;
  /* 컨테이너를 수평 중앙 정렬 */
  margin: 0 auto;
  /* 컨테이너의 상하에 40, 좌우에 20의 패딩 추가 */
  padding: 40px 20px;
}
.hero {
  width: 80px;
  height: 84px;
  margin: 4px;
  border: 3px solid #fff;
  border-radius: 10px;
  /* padding과 border 요소의 전체 크기에 포함시킴 */
  box-sizing: border-box;
  /* .hero 요소 내부의 넘치는 컨텐츠를 숨김 */
  overflow: hidden;
  background-color: #555;
  /* .hero 요소를 x축을 따라 -14도 기울임 */
  transform: skewX(-14deg);
  /* hero 요소의 변화에 트랜지션 효과를 추가함 */
  transition:
  /* transform 속성 변화를 0.1초 동안 애니메이션 한다 */
    transform .1s,
  /* 배경화면 속성 변화를 0.6초 동안 애니메이션 한다 */
    background-color .6s;
}
/* 마우스 hover(위에 갖다대면) */
.hero:hover {
  background-color: #ff9c00;
  /*  */
  transform: skewX(-14deg) scale(1.3);
  z-index: 1;
}
.hero .image {
  width: 140%;
  height: 100%;
  /* .image 요소를 x축으로 -16px 이동, x축을 따라 14도 기울임 */
  transform: translateX(-16px) skewX(14deg);
  /* 배경 이미지를 요소의 중앙에 위치 */
  background-position: center;
  /* 배경 이미지 반복 없앰 */
  background-repeat: no-repeat;
  background-size: 90px;
}
/* 각 영웅 박스에 고유한 이미지를 설정함 
  nth-child 사용해서 각 영웅에게 다른 배경 이미지를*/
.hero:nth-child(1) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero1.png"); }
.hero:nth-child(2) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero2.png"); }
.hero:nth-child(3) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero3.png"); }
.hero:nth-child(4) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero4.png"); }
.hero:nth-child(5) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero5.png"); }
.hero:nth-child(6) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero6.png"); }
.hero:nth-child(7) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero7.png"); }
.hero:nth-child(8) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero8.png"); }
.hero:nth-child(9) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero9.png"); }
.hero:nth-child(10) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero10.png"); }

.hero:nth-child(11) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero11.png"); }
.hero:nth-child(12) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero12.png"); }
.hero:nth-child(13) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero13.png"); }
.hero:nth-child(14) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero14.png"); }
.hero:nth-child(15) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero15.png"); }
.hero:nth-child(16) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero16.png"); }
.hero:nth-child(17) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero17.png"); }
.hero:nth-child(18) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero18.png"); }
.hero:nth-child(19) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero19.png"); }
.hero:nth-child(20) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero20.png"); }

.hero:nth-child(21) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero21.png"); }
.hero:nth-child(22) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero22.png"); }
.hero:nth-child(23) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero23.png"); }
.hero:nth-child(24) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero24.png"); }
.hero:nth-child(25) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero25.png"); }
.hero:nth-child(26) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero26.png"); }
.hero:nth-child(27) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero27.png"); }
.hero:nth-child(28) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero28.png"); }
.hero:nth-child(29) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero29.png"); }
.hero:nth-child(30) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero30.png"); }

.hero:nth-child(31) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero31.png"); }
.hero:nth-child(32) .image { background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero32.png"); }

.logo {
  max-width: 300px;
  /* 중앙 정렬 */
  margin: 0 auto;
  padding: 0 20px;
}
.logo img {
  /* 이미지를 컨테이너의 너비에 맞추어 100% 크기로 설정 */
  width: 100%;
}
